grpcio==1.54.0
grpcio-tools==1.54.0
numpy
opencv-python-headless
h5py
tqdm
scikit-learn
pyproj
pycolmap
pymongo[srv]
pika
albumentations
ipywidgets
matplotlib
pyproject
jupyter
jupyterlab
kfp
xformers==0.0.18
timm